.list {
  margin: 0;
  padding: 24px;
  list-style-type: none;
  background-color: #32384d;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.searchBlock {
  margin-bottom: 12px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.searchInput {
  padding: 8px 20px;
  border: 1px solid gray;
  border-radius: 4px;
  background: #eeedf0;
}

.searchButton {
  margin-right: auto;
  background: #3688d8;
}

.buttonSorted {
  background-color: #3688d8;
}

.buttonSortedActive {
  background-color: #317bc4;
}
